.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(10, 10, 10, 0.3);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
}

.settingContainer {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 100;
    border-radius: 20px;
}

.closeIcon {
    position: absolute;
    top: -1rem;
    right: -1rem;
    font-size: 3rem;
    color: #fca;
    z-index: 9999;
    cursor: pointer;
}

/* Full width has names of Sections, Min width only has icons */
.settingSectionSlider {
    width: 20%;
    height: 100%;
    background-image: url("../../public/Images/3204572.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: scroll;
    border-radius: 20px 0 0 20px;
}

.settingSection {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #333333;
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.settingSection:not(:nth-of-type(1)) {
    margin-top: 1rem;
}

.settingSection:not(:last-of-type) {
    margin-bottom: 1rem;
}

.settingSection:hover {
    background-color: #fca;
}

.setting {
    height: 100%;
    width: 80%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
}

.settingBoard {
    width: 100%;
    height: 100%;
    background-color: #2c2c2c;
    flex-direction: column;
    align-items: center;
    border-radius: 0 20px 20px 0;
    overflow-y: scroll;
    display: none;
}

.settingBoard.chosen{
    display: flex;
}

.settingOption {
    width: 95%;
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #404040;
    border-radius: 10px;
}

.AccentAndTheme {
    height: 40%;
}

.settingSubsection {
    width: 100%;
    height: 50%;
}

.settingSubsectionName {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    font-family: "Roboto Mono", sans-serif;
}

.accentOptions {
    height: 50%;
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 2rem;
}

.accentOption {
    width: 1rem;
    height: 1rem;
}

.sectionName {
    align-self: flex-start;
    margin-top: 2rem;
    margin-left: 2rem;
    font-size: 1.5rem;
    font-family: "Roboto Mono", sans-serif;
    font-weight: 600;
}

.accentOption {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    border: 1px solid black;
    cursor: pointer;
}

.accentOption.black {
    background-color: black;
}

.accentOption.teal {
    background-color: #008080;
}

.accentOption.coral {
    background-color: #ff6f61;
}

.accentOption.purple {
    background-color: #6a0dad;
}

.accentOption.golden {
    background-color: #daa520;
}

.accentOption.turquoise {
    background-color: #40e0d0;
}

.accentOption.slateBlue {
    background-color: #6a5acd;
}

.accentOption.magenta {
    background-color: #ff00ff;
}

.accentOption.mint {
    background-color: #98ff98;
}

.accentOption.chosen {
    border: 3px solid #fca;
    filter: brightness(1.2);
}


.themeOptions {
    width: 90%;
    height: 40%;
    margin-left: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.themeOption {
    width: 20%;
    height: 4.5rem;
    background-color: black;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}

.themeOption:not(:last-of-type) {
    margin-right: 1rem;
}

.themeOption:not(:first-of-type) {
    margin-left: 1rem;
}

.isChosen {
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    border: 3px solid #fca;
    position: absolute;
    top: 35%;
    left: 8%;
    background-color: #faa0a0;
}

.themeOption:has(.isChosen.chosen) {
    border: 2px solid #fff;
}

.isChosen.chosen {
    background-color: #98fb98;
}

.themeName {
    font-size: 1.8rem;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.fontSizeOptions{
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.fontSizeOption{
    width: 20%;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 2rem;
    cursor: pointer;
    position: relative;
}

.fontName.small{
    font-size: 1.2rem;
}

.fontName.medium{
    font-size: 1.6rem;   
}

.fontName.large{
    font-size: 2rem;
}

.fontOptions{
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.fontOption{
    width: 20%;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 2rem;
    cursor: pointer;
    position: relative;
    font-size: 1.4rem;
}

.bubbleColorOptions{
    width: 80%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    font-size: 1.6rem;
    margin-left: 10%;
}

.bubbleColor{
    width: 15%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    cursor: pointer;
    position: relative;
}

.bubbleColor.chosen{
    border: 3px solid #fca;
    filter: brightness(1.2);
}

.apple{
    background-color: #FF0800;
}

.arctic{
    background-color: #82EEFD;
}

.seaFoam{
    background-color: #3DDE97;
}

.orange{
    background-color: orangered;
}

.ebony{
    background-color: #0A0A0A;
}

.lilac{
    background-color: #C8A2C8;
}

.popupOptions{
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.popupOption{
    width: 20%;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 2rem;
    cursor: pointer;
    position: relative;
    font-size: 1.6rem;
    font-family: "Roboto Mono", sans-serif;
    font-weight: 600;
}

.popupOption.chosen{
    border: 3px solid #fca;
    filter: brightness(1.2);
}

.profanityOption{
    margin-left: 5%;
    width: 90%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    font-family: "Roboto Mono", sans-serif;
    font-weight: 600;
}

.saveChanges{
    width: 10rem;
    height: 3rem;
    border-radius: 30px;
    border: 1px solid black;
    cursor: pointer;
    position: absolute;
    bottom: 1rem;
    right: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-family: "Roboto Mono", sans-serif;
    font-weight: 600;
    background-color: black;
    color: white;
}