.chatContainer {
  position: absolute;
  width: 75%;
  height: 100vh;
  right: 0;
  align-items: center;
  border-left: 2px solid #c9c9c9;
  scroll-behavior: smooth;
  display: none;
}

.chatHeader{
  width: 100%;
  height: 10%;
  top: 0;
  position: absolute;
}

.inputWidgets {
  width: 100%;
  height: 10%;
  position: absolute;
  bottom: 0%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#textInput {
  height: 2.5rem;
  min-height: 2.5rem;
  max-height: 15rem;
  width: 70%;
  position: absolute;
  right: 8%;
  font-size: 1.6rem;
  border-radius: 5px;
  border: 3px solid white;
  background-color: #f3f3f5;
  color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  text-rendering: geometricPrecision;
  text-align: left;
  resize: none;
  line-height: 2.5rem;
  overflow-y: scroll;
  outline: none;
  z-index: 1;
  padding-left: 1rem;
}

#textInput::-webkit-scrollbar {
  display: none;
}

.sendButton {
  top: 40%;
  position: absolute;
  color: #3c91ee;
  font-size: 2.4rem;
  right: 4.5%;
  cursor: pointer;
}

.chatBox {
  display: flex;
  width: 100%;
  margin-top: 1%;
  height: 79%;
  top: 10%;
  flex-direction: column;
  overflow-y: scroll;
}

.innerMessage {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bubble {
  width: fit-content;
  max-width: 40%;
  padding: 1rem;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Source Serif Pro", sans-serif;
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.bubble.recipient {
  align-self: flex-start;
  background-color: #3c91ee;
  color: white;
  border-radius: 10px;
  margin-left: 2%;
}

.bubble.sender {
  align-self: flex-end;
  background-color: #c9c9c9;
  color: black;
  border-radius: 10px;
  margin-right: 2%;
  margin-left: auto;
}
