@keyframes wave {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, -5px);
    }
    100% {
        transform: translate(0, 0);
    }
}

.dialingContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: safe space-evenly;
    flex-direction: column;
    background-color: #000001;
}

.avatar {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: #000001;
    border: 0.5rem solid #000001;
    margin-bottom: 2rem;
    object-fit: cover;
    object-position: center;
}

.promptDialing {
    width: 10%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: #fff;
    margin-bottom: 2rem;
    font-weight: 600;
}

.callAnim {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.callDot {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 100%;
    background-color: #ccc;
    margin-top: 1rem;
    margin-left: 0.5rem;
}

.callDot:nth-child(1) {
    animation: wave 1s infinite forwards ease-in-out;
}

.callDot:nth-child(2) {
    animation: wave 1s 0.2s infinite forwards ease-in-out;
}

.callDot:nth-child(3) {
    animation: wave 1s 0.4s infinite forwards ease-in-out;
}

.dialingButtons{
    width: 30%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: auto;
    font-size: 3rem;
    cursor: pointer;
}

.stopCall{
    border-radius: 50%;
    padding: 1rem;
    background-color: #ff0000;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transform: rotate(135deg);
}

.stopCall:hover{
    filter: brightness(0.8);
}

.camToggleIcon{
    border-radius: 50%;
    padding: 1rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000001;
    font-weight: 600;
    cursor: pointer;
}

.camToggleIcon:hover{
    filter: brightness(0.8);
}

.micToggleIcon{
    border-radius: 50%;
    padding: 1rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000001;
    font-weight: 600;
    cursor: pointer;
}

.micToggleIcon:hover{
    filter: brightness(0.8);
}