.roomNav{
    position: absolute;
    left: 0;
    width: 25%;
    height: 100%;
    border-right: 2px solid white;
}

.navHeader{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.textTitle{
    margin-left: 1rem;
    font-size: 3rem;
    font-weight: 800;
    color: white;
}

.searchBar{
    width: 90%;
    height: 40%;
    font-size: 1.4rem;
    align-self: center;
    border: 1px solid white;
    border-radius: 20px;
    text-indent: 1rem;
    background-color: #333;
}

.searchBar:focus{
    border: 1px solid white !important;
}

.searchIcon{
    position: absolute;
    display: flex;
    font-size: 2rem;
    left: 2.5rem;
    top: 4.5rem;
}

.roomContainer{
    width: 90%;
    height: 85%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    flex-basis: 1;
}

.searchContainer{
    background-color: #121212;
    width: 90%;
    height: 85%;
    display: none;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: absolute;
    top: 10%;
    left: 5%;
}

.RoomNavFooter{
    position: absolute;
    width: 100%;
    height: 5%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: #121212;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.generalSetting{
    font-size: 2.6rem;
    cursor: pointer;
}

.version{
    font-size: 1.4rem;
    margin-right: 1rem;
    color: white;
}

.reportBug{
    font-size: 2.6rem;
    cursor: pointer;
}